---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <!-- Love Corner Link -->
<a href="https://xialin-he.github.io/" target="_blank" class="love-corner">🩵</a >

  <style>
    .love-corner {
      position: fixed;
      bottom: 20px;    /* 距离底部位置 */
      right: 20px;     /* 距离右边位置 */
      font-size: 20px; /* 爱心大小 */
      text-decoration: none;
      z-index: 9999;   /* 确保显示在最上层 */
      opacity: 0.6;
      transition: 0.2s;
    }
    .love-corner:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  </style>
  </body>
</html>
